<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="BusManagementSystem.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <appSettings>
    <!--Develop-->
    <add key="ADDRESS" value="/BMSDEV"/>
    <!--QA-->
    <!--<add key="ADDRESS" value="/BMSQA"/>-->
    <!--Production-->    
    <!--<add key="ADDRESS" value="/BMSPRD"/>-->
    <!-- Report credentials  -->
    <add key="reporUser" value="kanban.admin"/>
    <!-- Username to access server -->
    <add key="reportUserPassword" value="Ratedr22"/>
    <!-- Password to access server -->
    <add key="reportUserDomain" value="mx"/>
    <!-- User domain to access server -->
    <add key="reportServerURL" value="http://10.13.9.222/ReportServer"/>
    <add key="reportServerURL_Enviromnent" value="/Test"/>
    <!--<add key="reportServerURL_Enviromnent" value="/QA" />-->
    <!--<add key="reportServerURL_Enviromnent" value="/PRODUCTION" />-->
    <!-- URL to access server-->
    <!-- Report path's  -->
    <add key="reportTotalsPath" value="/Report TotalsBP/ReportTotalsBP"/>
    <add key="r_dailyOperation" value="/Operation/DailyOperation"/>
    <add key="r_BusStandard" value="/BusStandardReport/rpBusStandard"/>
    <add key="r_ActivityLog" value="/activityLog/R_activityLog"/>
    <add key="r_historicalInvoice" value="/HitoricalInvoice/Historical"/>
    <add key="r_Invoice_Payment" value="/InvoiceReport/ReportInvoiceDetail"/>
    <add key="r_LegalRevision" value="/LegalRevisionReport/LegalRevisionReport"/>
    <add key="r_Operation_Status" value="/MasterTripSummaryReport/MastrerTripSummaryReport"/>
    <add key="r_Trip_Change" value="/TripChangeReport/tripChangeReport"/>
    <add key="r_HistoricAlert" value="/AlertsReport/ReportAlerts"/>
    <add key="r_Users" value="/UserReport/UserReport"/>
    <add key="r_Audit" value="/ReportAudit/ReportAudit"/>
    <add key="r_HistoricalRevision" value="/ReportRevision/RevisionReport"/>
    <add key="r_HistoricalReport_Revsions" value="/HistoricalReport_Revsions/HistoricalReport_Revisions"/>
    <add key="r_HistoricalBlackList" value="/BlackList_HistoricalReport/BlackList_HistoricalReport"/>
    <add key="R_CertifiedRoutes" value="/R_CertifiedRoutes/R_CertifiedRoutes"/>
    <add key="BMSversion" value="Version: Beta 10.1 Environment: QA"/>
    <!-- Path to save Driver documents -->
    <add key="revisionImagesPath" value="C:\\BMS\\IMAGES\\"/>
    <add key="revisionImagesPathToDisplay" value="http://10.13.7.142:8089/IMAGES/"/>
    <add key="profilePicture_ImagesPath" value="C:\\BMS\\Profile_Pictures\\"/>
    <add key="profilePictureImagesPathToDisplay" value="http://10.13.7.142:8089/Profile_Pictures/"/>
    <add key="DriversDocuments_DocumentsPath" value="C:\\BMS\\Documents\\"/>

  </appSettings>
  <!--<version>
    <add key="BMSVersion" value="Beta 10.1" />
   </version>-->
  <connectionStrings>
    <!--Develop-->
    <add name="ConnectionString" connectionString="server=10.13.7.145;database=BMSDEV;uid=appsuser;password=@ppsuser@;"/>
    <!--QA-->
    <!--<add name="ConnectionString" connectionString="server=10.13.7.145;database=BMSQA;uid=appsuser;password=@ppsuser@;"/>-->
    <!--Production-->
    <!--<add name="ConnectionString" connectionString="server=10.13.7.146;database=BMSPRD;uid=applogin;password=applogin;"/>-->
  </connectionStrings>

  <system.webServer>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="6000000" />
      </requestFiltering>
    </security>
  </system.webServer>
  <system.webServer>
    <handlers>
      <add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91"/>
    </handlers>
    <validation validateIntegratedModeConfiguration="false"/>
  </system.webServer>
  <applicationSettings>
    <BusManagementSystem.Properties.Settings>
      <setting name="UserEmail" serializeAs="String">
        <value>BMS@mail.foxconn.com</value>
      </setting>
      <setting name="PassEmail" serializeAs="String">
        <value>Start123</value>
      </setting>
      <setting name="ServerSMTP" serializeAs="String">
        <value>10.134.30.92</value>
      </setting>
      <setting name="ServerPort" serializeAs="String">
        <value>25</value>
      </setting>
      <setting name="FromEmail" serializeAs="String">
        <value>Service_BMS@mail.foxconn.com</value>
      </setting>
    </BusManagementSystem.Properties.Settings>
  </applicationSettings>
  <system.web>
    <httpRuntime maxRequestLength="16384" />

    <httpHandlers>
      <add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" validate="false"/>
    </httpHandlers>
    <compilation debug="true">
      <buildProviders>
        <add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91"/>
      </buildProviders>
      <assemblies>
        <add assembly="System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.ServiceModel.Activation, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Runtime.Serialization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Web.ApplicationServices, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.ServiceModel, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Xml, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Web.Services, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Data, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Core, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Drawing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Data.Services.Client, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Data.Services.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Web.DynamicData, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.ComponentModel.DataAnnotations, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Web.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Xml.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>

    <customErrors mode="On" defaultRedirect="ErrorPage.aspx?handler=customErrors%20section%20-%20Web.config">
      <error statusCode="404" redirect="ErrorPage.aspx?msg=404&amp;handler=customErrors%20section%20-%20Web.config"/>
    </customErrors>
    
  </system.web>
</configuration>